/* 영상포폴 + 타이틀 */
.portfolio {}
.portfolio .title {
    margin: 120px 0px 100px;
    font-size: 8rem;
    text-align: center;
    letter-spacing: 2rem;
}
.portfolio .title h1 {}

/* 영상 뷰 + 설명 */
.portfolio .video {
    width: 100%;
}
.video .video-view {
    width: 100%; height: 600px;
    display: flex;
    gap: 3%;
    margin-bottom: 5rem;
}
.video .video-view .titleView {
    width: 75%; height: 100%;
}
.video .video-view .titleView video {
    width: 100%; height: 100%;
}
.video .video-view .text-box {
    width: 22%; height: 100%;
    background-color: #C8B1E4;
}
.video .video-view .text-box h1 {
    padding: 3rem 2rem;
    font-size: 2.5rem;
}
.video .video-view .text-box p {
    padding: 0 2rem;
    line-height: 3rem;
    height: 400px;
}
.video .video-view .text-box p:last-child {
    margin-top: 3rem;
    height: 2rem;
}

/* 영상 리스트 */
.video .video-wrap {

}
.video .video-wrap li {

}
/* .video .video-wrap li::after {
    content: "";
    padding-bottom: 56.25%;
    display: block;
} */
.video .video-wrap li .thumb-img {}
.video .video-wrap li .thumb-img img {}
.video .video-wrap li .text {}
.video .video-wrap li .text h1 {}
.video .video-wrap li .text h2 {}
.video .video-wrap li .text h3 {}

/* 서브포폴 */
.sub-portfolio {
    margin-top: 120px;
}
.sub-portfolio .sub-tabs {
    display: flex;
    justify-content: center;
    gap: 5rem;
    margin-bottom: 20px;
}
.sub-portfolio .sub-tabs li {
    font-size: 4rem; margin: 10px;
    width: 180px; height: 50px;
}
.sub-portfolio .sub-tabs li.active a {
    font-family: 'GmarketSansBold';
}

.sub-portfolio .slide-wrap {
    display: none;
}
.sub-portfolio .slide-wrap.active {
    display: block;
}

.slide-wrap .sw-arrow {}
.slide-wrap .sw-prev {}
.slide-wrap .sw-next {}

