/* 영상포폴 + 타이틀 */
.portfolio {
    margin: 80px 0 80px;
}
.portfolio .title {
    padding-top: 80px;
    font-size: 8rem;
    text-align: center;
    letter-spacing: 2rem;
    color: #532B88;
}


.work { 
    padding: 5rem 0; 
}
.work ul { display: flex; gap: 25px; flex-wrap: wrap; }
.work ul li { 
    width: calc(( 100% - 50px ) / 3 ); cursor: pointer; position: relative; 
}
.work ul li .thumb-text p {
    font-family: 'SBAggroM'; font-size: 2.2rem; text-align: center;
    color: #2F184B;
}
.work ul li .thumb-text p:last-child {
    font-size: 1.8rem; font-family: 'GmarketSansMedium';
}
.work ul li:hover .thumb-text {
    color: #9B72CF;
    transition: 0.3s;
}
.work ul li:nth-child(n+7) {display: none;}
.work ul li .thumb-img { width: 100%; }
.work ul li .thumb-img img { width: 100%; border-radius: 15px;}
.work ul li .view-cont { display: none; }

.modal { width: 100%; height: 100%; position: fixed; 
        background-color: rgba(0, 0, 0, 0.5); top: 0; left: 0; z-index: 11;
        display: flex; justify-content: center; align-items: center;
        opacity: 0; visibility: hidden; transition: 0.5s;
}
.modal.active {
    opacity: 1; visibility: visible;
}

.view-cont { display: flex; width: 95%; }
.view-cont .player { position: relative; width: 70%; }
.view-cont .player::after { padding-bottom: 56.25%; content: ""; display: block; }
.view-cont .player iframe { position: absolute; width: 100%; height: 100%; border: none; }
.view-cont .info { width: 30%; background-color: #F4EFFA; padding: 30px;}
.view-cont .info h1 { font-size: 30px; font-family: 'SBAggroM'; 
    margin-bottom: 1rem; }
.view-cont .info h2 { font-size: 20px;
    color: #9B72CF;}
.view-cont .info h3 { font-size: 16px; 
    color: #9B72CF; margin-bottom: 1rem;}
.view-cont .info p { 
    font-size: 18px; line-height: 25px;
    margin: 2rem 0; line-height: 30px;
}
.view-cont .info p:last-child { 
    font-size: 14px;
}


/* 서브포폴 */
/* 슬라이드 탭 */
.work2 {
    margin: 40px 0 30px;
}
.tab-list2{
    display: flex; justify-content: center; gap: 5%; padding-bottom: 50px;
}
.tab-list2 li a{
    padding: 0 20px; display: flex; align-items: center;
    font-size: 3.5rem; font-family: 'SBAggroM'; color: #C8B1E4;
}
.tab-list2 li.active a{
    color: #532B88; 
}
/* 슬라이드영역 */
.slide-wrap3{
    position: relative; margin-bottom: 20px; height: auto;
}
.slide-wrap3 ul {
    display: flex; flex-wrap: wrap; gap: 2%;
}
.slide-wrap3 ul li{
    height: auto; font-size: 1.5rem; 
    width: calc(96%/3); margin-bottom: 1.5rem; 
}
.slide-wrap3 ul li:hover {
    cursor: pointer;
}
.slide-wrap3 ul li:nth-child(n+4){ display: none; }
.slide-wrap3 ul li .imgbox{
    position: relative; width: 100%; padding-bottom: 60%;
}
.slide-wrap3 ul li .imgbox img{
    width: 100%; height: 100%; position: absolute; top: 0; left: 0;  object-fit: cover; object-position: top;
    border-radius: 15px;
}
.work2 .slide-wrap3 ul li .txtbox{
    text-align: center; margin-top: 1rem; color: #9B72CF;
}
.work2 .slide-wrap3 ul li .txtbox p.title{
    margin-bottom: 5px; display: -webkit-box; overflow: hidden; word-break: break-all; text-overflow: ellipsis; -webkit-line-clamp: 2; -webkit-box-orient: vertical;
    font-family: 'SBAggroM'; font-size: 2rem; color: #2F184B; margin-bottom: 1rem;
}
.modal2{
    position: fixed; background-color: rgba(0,0,0,.5); top: 50%; left: 50%; transform: translate(-50%, -50%); width: 100%; height: 0; overflow: hidden; transition: 0.5s; z-index: 11;
}
.modal2.active{height: 100%;}
.modal2 .modal-cont2{display: flex; justify-content: center; align-items: center; width: 100%; height: 100%; transform: scale(0); transition: 0.5s;}
.modal2 .modal-cont2.active{transform: scale(1);}
.modal2 .view-player{width: 95%; max-width: 1600px; position: relative;}
.modal2 .view-player::after{content: ""; padding-bottom: 56.25%; display: block;}
.modal2 .view-player iframe{position: absolute; width: 100%; height: 100%; border: none;}
.modal2 .view-img{width: 90%; max-width: 95%; max-height: 90%; overflow-y: scroll; font-size: 0; padding-right: 10px;}
.modal2 .view-img img{width: 100%;}
.modal2 .view-img::-webkit-scrollbar {width: 10px;}
.modal2 .view-img::-webkit-scrollbar-thumb {background: #532B88; border-radius: 10px;}
.modal2 .view-img::-webkit-scrollbar-track {background: #F4EFFA; border-radius: 10px;}

/* 뷰모어 버튼 */
.viewmore {
    background-color: #9B72CF;
    color: #F4EFFA;
    cursor: pointer;
    width: 180px; height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50px;
    font-family: 'GmarketSansMedium';
    margin: 20px auto;
}
.viewmore:hover {
    background-color: #C8B1E4;
    color: #532B88;
}
.viewmore a { display: block; }

/* 반응형 */
/* 태블릿 */
@media screen and (max-width: 1024px){
    /* 영상포폴 + 타이틀 */
    .portfolio {
        margin: 50px 0 60px;
    }
    .portfolio .title {
        padding-top: 3rem;
        font-size: 6rem;
        text-align: center;
        letter-spacing: 1rem;
    }
    /* 영상 썸 간격 */
    .work ul { display: flex; gap: 10px 2%; flex-wrap: wrap; }
    .work ul li { width: calc(96%/3); }
    /* 모달 사이드 설명 */
    .view-cont { display: block; }
    .view-cont .player { width: 100%; }
    .view-cont .info { width: 100%; }
}
/* 모바일 */
@media screen and (max-width: 768px){
    /* 영상포폴 + 타이틀 */
    .portfolio {
        margin: 0 0 60px;
    }
    .portfolio .title {
        padding-top: 50px;
        font-size: 40px;
    }
    /* 영상 썸 간격 */
    .work { padding: 30px 0 0; }
    .work ul li { width: 95%; margin: 10px auto; }
    .work ul li:nth-child(n+4) {display: none;}
    .work ul li p {
        font-size: 20px;
    }
    .work ul li p:last-child {
        font-size: 17px;
    }

    /* 영상 뷰모어 */
    .viewmore1 {
        margin: 30px auto;
    }
    
    /* 서브 탭 */
    .tab-list2{
        display: flex; justify-content: center; gap: 3%; padding-bottom: 20px;
    }
    /* 서브 탭 메뉴 */
    .tab-list2 li a{
        font-size: 24px; font-family: 'SBAggroM'; padding: 0 5px;
    }
    /* 서브 뷰 영역 */
    .slide-wrap3 ul li{
        height: auto; font-size: 15px; 
        width: 95%; margin: 0 auto;
    }
    .slide-wrap3 ul li:nth-child(n+2) { display: none; }
    /* 서브포폴 텍스트박스 */
    .work2 .slide-wrap3 ul li .txtbox p.title{
        font-size: 25px;
    }
    /* 서브 뷰모어 */
    .viewmore2 {
        margin: 40px auto;
    }
    /* 모달 텍스트 */
    .view-cont .info h1 { font-size: 25px; margin-bottom: 10px; 
    }
    .view-cont .info h2 { font-size: 18px; 
        margin-bottom: 10px; 
    }
    .view-cont .info h3 { font-size: 16px; }
    .view-cont .info p { font-size: 16px; }
    .view-cont .info p:last-child { font-size: 13px; }
}